.box{
    width: 996px;
    height: 622px;
    position: relative;
    background-color: #FFF; 
    background-image: url('src/assets/Ellipse10image.png'); 
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: right; 
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.vectorImg{
    margin: 1%;
}


.title{
    margin: 0 auto;
    color: #FF8006;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; 
    text-align: center;
    word-spacing: 17px; 
}

.title .colaboracion {
    color: white; 
}

.mid {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text{
    width: 292px;
    height: 242px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
    margin-left: 42px;
}

.bottom{
    margin: 0;
}

.square{
    margin:0;
    position: absolute; /* Posicionamiento absoluto para posicionar el elemento con respecto a su contenedor padre */
    bottom: 0; /* Lo coloca en la parte inferior del contenedor padre */
    right: 0;
}

.topSquare{
    width: 297px;
    height: 52px;
    flex-shrink: 0;
    background: #2790C3;
    /*TEXT*/
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    display: flex; /* Utiliza flexbox para alinear contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.botSquare{
    width: 297px;
    height: 120px;
    flex-shrink: 0;
    background: #1F264F;
    overflow: hidden;
    /*TEXT*/
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    display: flex; /* Utiliza flexbox para alinear contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}
