.card {
    position: relative;
    width: 90%; 
    max-width: 1200px; 
    min-width: 600px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 0px solid rgba(0, 0, 0, 0.00);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.60) 47.83%, rgba(255, 255, 255, 0.00) 100%), url(https://firebasestorage.googleapis.com/v0/b/unimeet-is.appspot.com/o/Rescate%20UNIMET.png?alt=media&token=d112afa1-5bb2-4145-8295-831d5ffb3d79) lightgray 0.815px -56.87px / 100% 119.92% no-repeat;
    margin: 0;
    padding: 0;
  }

.title{
    width: 293px;
    position: absolute;
    right: 34px;
    top: 20px;
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1; 
    word-wrap: break-word; 
}

.button {
    position: absolute; 
    bottom: 20px; 
    right: 34px; 
    width: auto; 
    margin: 10px;
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif; 
    font-size: 18px;
    font-weight: 700;
    background-color: #FF8006;
    border: none; 
    border-radius: 16px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.button:hover {
    background-color: #FFA726; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}
