.mainContainer {
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--color-white);
  padding: 36px 0;
}

.leftContainer {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-light-gray);
    padding: 2px 22px 16px 22px;

}

.rightContainer {
    flex-grow: 1;
    display: flex;
    background-color: var(--color-primary);
    padding: 0 22px;
}

.feedbackTitle {
  font-size: var(--font-size-xlarge);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.membersTitle {
  font-size: var(--font-size-xlarge);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}
