.feedbackList {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px; /* Aumenta el relleno */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 16px;
  max-height: 300px; /* Altura máxima para mostrar solo 4 elementos */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}