.middlebox {
    background-color: #FF8006;
    padding: 7%;
    padding-right: 4%;
    }
  
  .title{
    margin: 0%;
    margin-bottom: 7%;
    color: #FFF;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px; /* 25% */
  }

  .groupCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila */
    gap: 30px; /* Espacio entre las GroupCard */
    width: 100%; /* Ajustar el ancho al 100% */
  }
  

  @media (max-width: 1300px) {
    .middlebox {
      padding: 5%;
      padding-right: 2%;
    }
  
    .title {
      font-size: 50px;
    }
  }


  @media (max-width: 950px) {
    .groupCardContainer {
      grid-template-columns: 1fr; 
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
    }
  }

  @media (max-width: 650px) {
    .title{
      font-size: 27px;
    }
  }