.container {
    margin: auto;
    background-color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    
}
.imgFooter {
    height: 100px;
    width: 570px;
}
.direccion {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 96% */
}

.descripcion {
    color: #FF8006;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.copyright{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 171.429% */
}

@media screen and (max-width: 768px) {
    .container {
      flex-wrap: wrap;
    }
  
    .imgFooter {
      height: 80px;
    }
  
    .direccion {
      font-size: 18px;
      line-height: 20px;
    }
  
    .descripcion {
      font-size: 12px;
      line-height: 16px;
    }
  
    .copyright {
      line-height: 20px;
    }
  }