.selectContainer {
  width: 100%;
  margin: 2% 0;
}

.selectContainer select {
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  margin-top: 8px;
  width: 100%;
  color: #000000;
}

.text {
  font-size: 16px;
  color: #FFF;
  margin: 2% 0;
}

.mainBox {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  text-align: center;
  margin: auto;
  padding: 2%;
}

.title {
  width: 466.56px;
  height: 48px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 38.4px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.08px;
  margin: auto;
  padding-bottom: 8px;
}

.submitBtn {
  color: #FF8006;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  line-height: 120%;
  border-radius: 93px;
  background: #FFF;
  width: 186px;
  height: 27px;
  flex-shrink: 0;
  margin: 2% 0;
  border: #6e6e70;
}

.circle {
  width: 90%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  flex-shrink: 0;
  border-radius: 50%;
  background: #FF8006;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  clip-path: ellipse(100% 85% at 50% 0);
}

body {
  background-color: #FFF;
}

.inputContainer label {
  width: 186px;
  height: 27px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #FFFFFF;
  margin: 4%;
}

.inputContainer input {
  display: block;
  width: 100%;
  min-height: 44px;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  width: 100%;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.checkboxContainer input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  outline: none;
}

.checkboxContainer input[type="checkbox"]:checked {
  background-color: #FF8006;
}

.checkboxContainer input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 2px;
  position: relative;
  left: 5px;
  top: 5px;
}

.checkboxContainer label {
  font-size: 16px;
  color: #FFF;
  margin: 8px 0;
}

.checkboxContainer input[type="checkbox"]:focus {
  border-color: #FF8006;
}

.inputContainer {
  margin: 2% 0;
}

.inputContainer input {
  display: block;
  width: 100%;
  min-height: 44px;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #d0d5dd;
}

.text {
  font-size: 16px;
  color: #fff;
  margin: 2% 0;
}
