:root{
  --color-primary: rgba(255, 128, 6, 1);
  --color-secondary: rgba(255, 128, 6, 0.8);
  --color-tertiary: rgba(255, 128, 6, 0.6);
  --color-quaternary: rgba(255, 128, 6, 0.4);
  --color-quinary: rgba(255, 128, 6, 0.2);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-gray: rgba(128, 128, 128, 1);
  --color-light-gray: rgba(192, 192, 192, 1);
  --color-dark-gray: rgba(64, 64, 64, 1);


  

  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 3rem;
  --font-size-xxlarge: 4rem;
  --font-size-xxxlarge: 5rem;
  --font-size-xxxxlarge: 6rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;
  --border-radius-xlarge: 2rem;


}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-primary) !important;
  font-family: 'Roboto', sans-serif;
}

p{
  color: white !important;
}

footer {
  width: 100%;
  height: 40px;
  color: white;
}