

.titulo{
    color: var(--color-primary);
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;

} 



.containerGlobal {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto;

  }
  
  @media (max-width: 768px) {
    .containerGlobal {
      flex-direction: column; 
    }
  }
  
  
  .form {
    margin-bottom: 15px;
  }
  

  .cuerpo{
    background-color: white;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    padding-bottom: 110px;
    padding-top: 110px;
    display: grid;
    place-items: center;
  }

  .submit{
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height:  120%;
    border-radius: 93px;
    background: var(--color-primary);
    width: 186px;
    height: 50px;
    flex-shrink: 0;
    margin: 0 auto;
    border:#6e6e70;
    display: grid;
    place-items: center;
    margin-top: 30px;
}










